In [55]:
import pandas as pd
import numpy as np

In [56]:
my_data = pd.DataFrame([[1,2,"a"],[3,4,"b"],[5,6,"c"]],columns = ["first","second","third"])
my_data.head()

   first  second third
0      1       2     a
1      3       4     b
2      5       6     c

In [57]:
def to_binary(value):
    return "{0:b}".format(value)

In [58]:
unique_vals = my_data.third.unique()

In [59]:
my_dict = {}
for index,val in enumerate(unique_vals):
    my_dict[val] = to_binary(index)
my_dict

{'a': '0', 'b': '1', 'c': '10'}

In [60]:
my_data["third_binary"] = my_data.apply(lambda x: my_dict[x.third],axis=1)
my_data

   first  second third third_binary
0      1       2     a            0
1      3       4     b            1
2      5       6     c           10

In [61]:
#zero-fill to specified length
#how many digits do you want
unique_vals = len(my_data.third_binary.unique())
#convert this to ceilinged binary representation
max_length_binary_vec = int(np.ceil(np.log2(unique_vals)))
print max_length_binary_vec
my_data.third_binary  = my_data.third_binary.map(lambda x: x.zfill(max_length_binary_vec))
my_data

2

   first  second third third_binary
0      1       2     a           00
1      3       4     b           01
2      5       6     c           10

In [62]:
split_binary_columns = my_data.apply(lambda x: pd.Series(list(x.third_binary)),axis = 1)
split_binary_columns

   0  1
0  0  0
1  0  1
2  1  0

In [63]:
my_data = pd.concat((my_data,split_binary_columns),axis=1)
my_data

   first  second third third_binary  0  1
0      1       2     a           00  0  0
1      3       4     b           01  0  1
2      5       6     c           10  1  0

In [64]:
del my_data["third_binary"]
my_data

   first  second third  0  1
0      1       2     a  0  0
1      3       4     b  0  1
2      5       6     c  1  0